@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: rgba(194, 183, 172) !important;
        }

            .navbar .navbar-brand-custom {
                font-size: 2rem;
            }
        .text-center {
            border-radius: 20px;
            background-color: rgba(159, 162, 150, 0.97);
            box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.9);
        }

        .text-primary {
            color: #007bff;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        body {
            font-family: 'Shot', sans-serif;
        }

        h1 {
            font-family: 'Shot';
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
    </style>
    </head>
    <body> 

<div class="text-center p-5 " >
    <h1 class="display-4">Hello, <span class="text-primary">@Model</span>!</h1>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger mt-3">Logout</a>
    }
</div>
</body>
</html>


  

