@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: rgba(194, 183, 172) !important;
        }

            .navbar .navbar-brand-custom {
                font-size: 2rem;
            }
        .text-center {
            font-family: 'Shot';
            border-radius: 20px;
            background-color: rgba(159, 162, 150, 0.97);
            box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.9);
        }
    </style>
    </head>
    <body>

<div class="text-center p-5 ">
        <h1>@ViewData["Title"]</h1>
<p>
    Free Version
</p>
</div>
</body>
</html>
